@(tickets: List[TicketModel], ticketForm: Form[TicketModel])

@import helper._

@main("Ticket list") {

    <h1>@tickets.size() Ticket(s)</h1>

    <ul>
        @for(tickets <- tickets) {
            <li>
              <a href="@routes.TicketController.displayTicket(tickets.id)">
              @tickets.title
              </a>
              @form(routes.TicketController.deleteTicket(tickets.id)) { <input type="submit" value="Delete">  }
            </li>
        }
    </ul>

    <h2>Add a new Ticket</h2>

    @form(routes.TicketController.newTicket()) {

        @inputText(ticketForm("title"),'placeholder -> "Your Title")
        @textarea(ticketForm("desc"), 'placeholder -> "Description")
        @inputText(ticketForm("severity"), 'placeholder -> "Severity")
        <!-- @select(
           ticketForm("severity"),
           options(Seq("Urgent","High","Medium","Low")),
           '_label -> "Severity", '_default -> "-- Select Level --"
        ) -->
        @inputText(ticketForm("owner"),'placeholder -> "Owner")
        @inputText(ticketForm("responsible"),'placeholder -> "Responsible")
        @inputText(ticketForm("status"),'placeholder -> "Status")
        @inputDate(ticketForm("date"))

        <input type="submit" value="Save">

    }


}
