@(tickets: List[Ticket], ticketForm: Form[Ticket])

@import helper._

@main("Tickets") {
  <h1>@tickets.size() tickets(s)</h1>

  <ul>
      @for(tickets <- tickets) {
          <li><a href="routes.TicketsController.showTicket(@tickets.id)">@tickets.title</a>

          </li>
      }
  </ul>

    <h2>Create a new Ticket</h2>

    @form(routes.TicketsController.createTicket()) {

        @inputText(ticketForm("title"),'placeholder -> "Your Title")
        @textarea(ticketForm("desc"), 'placeholder -> "Description")
        <!-- @inputText(ticketForm("severity"), 'placeholder -> "Severity") -->
        @select(
           ticketForm("severity"),
           options(Seq("Urgent","High","Medium","Low")),
           '_label -> "Severity", '_default -> "-- Select Level --"
        )
        @inputText(ticketForm("owner"),'placeholder -> "Owner")
        @inputText(ticketForm("responsible"),'placeholder -> "Responsible")
        @inputText(ticketForm("status"),'placeholder -> "Status")
        @inputText(ticketForm("date") ,'placeholder -> "MM-dd-yyyy")

        <input type="submit" value="Save">

    }



}
